<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Login Page</title>
    </head>
    <body>
        <form action = "http://localhost:5000/login" method = "post">
            <p>Enter UserName:</p>
            <p><input type = "text" name = "UserName" /></p>
            <p> Enter Password:</p>
            <p><input type = "password" name = "Pass" /></p>
            <p><input type = "submit" name = "enter" value = "submit" /></p>
            <p> <input type  = "submit" name = "reset_pass" value = "Help I've forgotten my password!" /></p>
            <p> <input type = "submit" name = "new_acc" value="Create a new account"/></p>
        </form>   
    </body>
</html>